.email {
  position: relative;
}

.email::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #ffffff;
  top: 25px;

  transition: width 300ms ease-in-out
}

.email:hover::before {
  width: 100%;
}